.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.photo-card {
  border: 1px solid #ccc;
  text-align: center;
}

.photo-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.info-item {
  display: grid;
}

.search-form {
  text-align: center;
  margin: 20px;
}

.search-input {
  height: 40px;
  flex-grow: 1;
  font-size: 18px;
  padding-left: 15px;
  border: 1px solid #0a3f2d;
}

.search-btn,
.load-more {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #033718;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 250ms linear;
}

.load-more {
  display: block;
  margin: 0 auto;
}

.load-more.is-hidden {
  display: none;
}
